Dans ce TP, nous considérons des trajets en vélo partagé (similaire au vélib) en Californie. Deux jeux de données sont fournis : l'un qui contient les stations de vélo, l'autre, les trajets à vélo. Les déplacements à vélo se font d'une station à l'autre.

In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Lab3TripApp") \
    .getOrCreate()

sc = spark.sparkContext

Charger le fichier station_data.csv dans un DataFrame station_df et le fichier trip_data.csv dans un DataFrame trip_df. Pour chaque Dataframe, il vous faudra demander une inférence des schémas et indiquer que la première ligne est un en-tête.

In [9]:
station_df = spark.read.csv("../../data/station_data.csv", header=True, inferSchema=True)
trip_df = spark.read.option("header", "true").option("inferSchema", "true").csv("../../data/trip_data.csv")

Afficher les schémas des 2 DataFrames.

In [10]:
station_df.printSchema()

root
 |-- station_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- lat: double (nullable = true)
 |-- long: double (nullable = true)
 |-- dockcount: integer (nullable = true)
 |-- landmark: string (nullable = true)
 |-- installation: string (nullable = true)

In [11]:
station_df.toPandas()

,station_id,name,lat,long,dockcount,landmark,installation
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013
...,...,...,...,...,...,...,...
65,77,Market at Sansome,37.789625,-122.400811,27,San Francisco,8/25/2013
66,80,Santa Clara County Civic Center,37.352601,-121.905733,15,San Jose,12/31/2013
67,82,Broadway St at Battery St,37.798541,-122.400862,15,San Francisco,1/22/2014
68,83,Mezes Park,37.491269,-122.236234,15,Redwood City,2/20/2014
69,84,Ryland Park,37.342725,-121.895617,15,San Jose,4/9/2014

In [15]:
station_df.describe().toPandas()

,summary,station_id,name,lat,long,dockcount,landmark,installation
0,count,70,70,70,70,70,70,70
1,mean,43.0,None,37.59024338428572,-122.21841616428571,17.65714285714286,None,None
2,stddev,24.166091947189145,None,0.20347253639672416,0.2094460497964454,4.010441857493954,None,None
3,min,2,2nd at Folsom,37.329732,-122.418954,11,Mountain View,1/22/2014
4,max,84,Yerba Buena Center of the Arts (3rd @ Howard),37.80477,-121.877349,27,San Jose,8/7/2013

In [12]:
trip_df.printSchema()

root
 |-- TripID: integer (nullable = true)
 |-- Duration: integer (nullable = true)
 |-- StartDate: string (nullable = true)
 |-- StartStation: string (nullable = true)
 |-- StartTerminal: integer (nullable = true)
 |-- EndDate: string (nullable = true)
 |-- EndStation: string (nullable = true)
 |-- EndTerminal: integer (nullable = true)
 |-- Bike#: integer (nullable = true)
 |-- SubscriberType: string (nullable = true)
 |-- ZipCode: string (nullable = true)

In [13]:
trip_df.toPandas()

,TripID,Duration,StartDate,StartStation,StartTerminal,EndDate,EndStation,EndTerminal,Bike#,SubscriberType,ZipCode
0,913460,765,8/31/2015 23:26,Harry Bridges Plaza (Ferry Building),50,8/31/2015 23:39,San Francisco Caltrain (Townsend at 4th),70,288,Subscriber,2139
1,913459,1036,8/31/2015 23:11,San Antonio Shopping Center,31,8/31/2015 23:28,Mountain View City Hall,27,35,Subscriber,95032
2,913455,307,8/31/2015 23:13,Post at Kearny,47,8/31/2015 23:18,2nd at South Park,64,468,Subscriber,94107
3,913454,409,8/31/2015 23:10,San Jose City Hall,10,8/31/2015 23:17,San Salvador at 1st,8,68,Subscriber,95113
4,913453,789,8/31/2015 23:09,Embarcadero at Folsom,51,8/31/2015 23:22,Embarcadero at Sansome,60,487,Customer,9069
...,...,...,...,...,...,...,...,...,...,...,...
354147,432951,619,9/1/2014 4:21,Powell Street BART,39,9/1/2014 4:32,Townsend at 7th,65,335,Subscriber,94118
354148,432950,6712,9/1/2014 3:16,Harry Bridges Plaza (Ferry Building),50,9/1/2014 5:08,San Francisco Caltrain (Townsend at 4th),70,259,Customer,44100
354149,432949,538,9/1/2014 0:05,South Van Ness at Market,66,9/1/2014 0:14,5th at Howard,57,466,Customer,32
354150,432948,568,9/1/2014 0:05,South Van Ness at Market,66,9/1/2014 0:15,5th at Howard,57,461,Customer,32
354151,432947,569,9/1/2014 0:05,South Van Ness at Market,66,9/1/2014 0:15,5th at Howard,57,318,Customer,32

In [16]:
trip_df.describe().toPandas()

,summary,TripID,Duration,StartDate,StartStation,StartTerminal,EndDate,EndStation,EndTerminal,Bike#,SubscriberType,ZipCode
0,count,354152,354152,354152,354152,354152,354152,354152,354152,354152,354152,353874
1,mean,676962.27441607,1046.0326611172604,None,None,58.4460175291965,None,None,58.42181605638257,422.9579107275972,None,2613469.697174148
2,stddev,138874.1535127174,30016.93615692944,None,None,16.738860479692576,None,None,16.876792344295154,159.84155003059414,None,1.4617651129228191E9
3,min,432947,60,1/1/2015 0:25,2nd at Folsom,2,1/1/2015 0:30,2nd at Folsom,2,9,Customer,0
4,max,913460,17270400,9/9/2014 9:59,Yerba Buena Center of the Arts (3rd @ Howard),84,9/9/2014 9:59,Yerba Buena Center of the Arts (3rd @ Howard),84,878,Subscriber,nil

Créer une vue pour chaque DataFrame.

In [17]:
station_df.createOrReplaceTempView("stations")
trip_df.createOrReplaceTempView("trips")

Trouver deux façons de calculer le nombre de trajets, l'une en appelant une méthode sur trip_df directement, l'autre en rédigeant une requête SQL de la vue correspondant au DataFrame tripData.

In [18]:
trip_df.count()

354152

In [20]:
spark.sql("SELECT count(*) FROM trips").show()

+--------+
|count(1)|
+--------+
|  354152|
+--------+

Ecrire une requête permettant de compter le nombre de trajets qui démarrent et se terminent à la même station.

In [21]:
spark.sql(
    """
    SELECT count(*) FROM trips
    WHERE StartTerminal=EndTerminal
    """
).show()

+--------+
|count(1)|
+--------+
|   10276|
+--------+

On souhaite désormais obtenir l’id des stations associées à ces trajets. Ecrire une requête renvoyant la liste des terminaux concernés ainsi que le nombre de trajets pour chacun de ces terminaux. Trier le résultat par ordre décroissant de nombre de trajets.
<br>Exemple de sortie :
<br>+--------+--------+
<br>|terminal|count(1)|
<br>+--------+--------+
<br>| 60| 850|
<br>| 50| 708|
<br>| 35| 348|
<br>| 76| 320|
<br>| 74| 307|
<br>(La station 60 est la plus concernée par ces trajets cycliques, avec 850 de ces trajets.)

In [ ]:
# Votre code ici

Dans la requête précédente, nous avons oublié un élément qui nous importe. Nous souhaitons compléter le résultat en indiquant le nombre de docks (dockcount) des stations concernées.
<br>Exemple de sortie :
<br>+--------+---------+--------+
<br>|terminal|dockcount|count(1)|
<br>+--------+---------+--------+
<br>| 60| 15| 850|
<br>| 50| 23| 708|
<br>| 35| 11| 348|
<br>| 76| 19| 320|
<br>| 74| 23| 307|
<br>Mettre à jour la requête.

Rédiger les 2 requêtes précédentes avec le DSL de DataFrame.

In [24]:
from pyspark.sql.functions import col, desc, count

In [26]:
result_df = trip_df.select(
    "StartTerminal"
).filter(
    col("StartTerminal") == col("EndTerminal")
).join(
    station_df, on=col("StartTerminal") == col("station_id")
).groupBy(
    "StartTerminal","dockcount"
).agg(
    count("*").alias("nombre")
).orderBy(
    desc("nombre")
)

In [27]:
result_df.show()

+-------------+---------+------+
|StartTerminal|dockcount|nombre|
+-------------+---------+------+
|           60|       15|   850|
|           50|       23|   708|
|           35|       11|   348|
|           76|       19|   320|
|           74|       23|   307|
|           39|       19|   296|
|           61|       27|   280|
|           67|       27|   277|
|           71|       19|   268|
|           70|       19|   260|
|           28|       23|   254|
|           48|       15|   248|
|           54|       15|   230|
|           69|       23|   227|
|           42|       15|   213|
|           73|       15|   200|
|           57|       15|   197|
|           64|       15|   194|
|            3|       15|   189|
|           72|       23|   181|
+-------------+---------+------+
only showing top 20 rows

Observer le plan d’exécution des requêtes.

In [29]:
result_df.explain(True)

== Parsed Logical Plan ==
'Sort ['nombre DESC NULLS LAST], true
+- Aggregate [StartTerminal#243, dockcount#212], [StartTerminal#243, dockcount#212, count(1) AS nombre#1820L]
   +- Join Inner, (StartTerminal#243 = station_id#208)
      :- Project [StartTerminal#243]
      :  +- Filter (StartTerminal#243 = EndTerminal#246)
      :     +- Project [StartTerminal#243, EndTerminal#246]
      :        +- Relation [TripID#239,Duration#240,StartDate#241,StartStation#242,StartTerminal#243,EndDate#244,EndStation#245,EndTerminal#246,Bike##247,SubscriberType#248,ZipCode#249] csv
      +- Relation [station_id#208,name#209,lat#210,long#211,dockcount#212,landmark#213,installation#214] csv

== Analyzed Logical Plan ==
StartTerminal: int, dockcount: int, nombre: bigint
Sort [nombre#1820L DESC NULLS LAST], true
+- Aggregate [StartTerminal#243, dockcount#212], [StartTerminal#243, dockcount#212, count(1) AS nombre#1820L]
   +- Join Inner, (StartTerminal#243 = station_id#208)
      :- Project [StartTerminal#243]
      :  +- Filter (StartTerminal#243 = EndTerminal#246)
      :     +- Project [StartTerminal#243, EndTerminal#246]
      :        +- Relation [TripID#239,Duration#240,StartDate#241,StartStation#242,StartTerminal#243,EndDate#244,EndStation#245,EndTerminal#246,Bike##247,SubscriberType#248,ZipCode#249] csv
      +- Relation [station_id#208,name#209,lat#210,long#211,dockcount#212,landmark#213,installation#214] csv

== Optimized Logical Plan ==
Sort [nombre#1820L DESC NULLS LAST], true
+- Aggregate [StartTerminal#243, dockcount#212], [StartTerminal#243, dockcount#212, count(1) AS nombre#1820L]
   +- Project [StartTerminal#243, dockcount#212]
      +- Join Inner, (StartTerminal#243 = station_id#208)
         :- Project [StartTerminal#243]
         :  +- Filter ((isnotnull(StartTerminal#243) AND isnotnull(EndTerminal#246)) AND (StartTerminal#243 = EndTerminal#246))
         :     +- Relation [TripID#239,Duration#240,StartDate#241,StartStation#242,StartTerminal#243,EndDate#244,EndStation#245,EndTerminal#246,Bike##247,SubscriberType#248,ZipCode#249] csv
         +- Project [station_id#208, dockcount#212]
            +- Filter isnotnull(station_id#208)
               +- Relation [station_id#208,name#209,lat#210,long#211,dockcount#212,landmark#213,installation#214] csv

== Physical Plan ==
AdaptiveSparkPlan isFinalPlan=false
+- Sort [nombre#1820L DESC NULLS LAST], true, 0
   +- Exchange rangepartitioning(nombre#1820L DESC NULLS LAST, 200), ENSURE_REQUIREMENTS, [plan_id=674]
      +- HashAggregate(keys=[StartTerminal#243, dockcount#212], functions=[count(1)], output=[StartTerminal#243, dockcount#212, nombre#1820L])
         +- Exchange hashpartitioning(StartTerminal#243, dockcount#212, 200), ENSURE_REQUIREMENTS, [plan_id=671]
            +- HashAggregate(keys=[StartTerminal#243, dockcount#212], functions=[partial_count(1)], output=[StartTerminal#243, dockcount#212, count#1834L])
               +- Project [StartTerminal#243, dockcount#212]
                  +- BroadcastHashJoin [StartTerminal#243], [station_id#208], Inner, BuildRight, false
                     :- Project [StartTerminal#243]
                     :  +- Filter ((isnotnull(StartTerminal#243) AND isnotnull(EndTerminal#246)) AND (StartTerminal#243 = EndTerminal#246))
                     :     +- FileScan csv [StartTerminal#243,EndTerminal#246] Batched: false, DataFilters: [isnotnull(StartTerminal#243), isnotnull(EndTerminal#246), (StartTerminal#243 = EndTerminal#246)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/data/trip_data.csv], PartitionFilters: [], PushedFilters: [IsNotNull(StartTerminal), IsNotNull(EndTerminal)], ReadSchema: struct<StartTerminal:int,EndTerminal:int>
                     +- BroadcastExchange HashedRelationBroadcastMode(List(cast(input[0, int, false] as bigint)),false), [plan_id=666]
                        +- Filter isnotnull(station_id#208)
                           +- FileScan csv [station_id#208,dockcount#212] Batched: false, DataFilters: [isnotnull(station_id#208)], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/home/jovyan/data/station_data.csv], PartitionFilters: [], PushedFilters: [IsNotNull(station_id)], ReadSchema: struct<station_id:int,dockcount:int>

Arrêter la session Spark.

In [ ]:
# Votre code ici